body {
	background-color:#FFFFFF;
	margin:0;
	padding: 0px;
}
a {
    outline: none;
}
.spacer{
	font-size:0; line-height:0; clear:both;
}
#main-wrapper{
	width:935px;
	display:table;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: auto;
}
#logo{
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 935px;
	text-align: center;
	clear: both;
	height: 99px;
}
#logo .left{
	float: left;
	width: 236px;
	text-align: right;
	padding-top: 47px;
}
#logo .right{
	float: right;
	width: 680px;
	height: 80px;
}
#logo .phone{
	float: right;
	width: 200px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	padding-right: 50px;
	padding-top: 28px;
	line-height: 18px;
	height: 65px;
}

#logo .version{
	float:right;
}

#logo .top-nav{
	height: 34px;
	clear:both;
	padding-top: 14px;
}
#home-container{
	position:relative;
	text-align:left;
	width:935px;
	margin-bottom:0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	clear:both;
	text-align:center;
	width:935px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 490px;
}
#header-info {
	position:absolute;
	top:325px;
	right:0px;
	width:704px;
	background-image: url(../images/header-info_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 144px;
	margin: 0px;
	padding-top: 20px;
	padding-right: 16px;
	padding-left: 16px;
}
#header-info h1{
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 0px;
}
#header-info h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #F8F8D1;
	text-align: right;
}
#header-info a{
	color: #F8F8D1;
	text-decoration:none;
}
#header-info a:hover{
	color: #F8F8D1;
	text-decoration:none;
}

#subpage_header {
	clear:both;
	text-align:center;
	width:935px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 312px;

}
#fadeshow1 {
	z-index:0;
}


#home_Services {
	clear:both;
	width:935px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 60px;
	padding-top: 22px;

}
#home_Services .logos{
	width: 200px;
	float: left;
	margin: 0px;
}
#home_Services .servicios-box{
	width: 227px;
	float: left;
	background-image: url(../images/servicios-pic.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	height: 128px;
	margin-right: 30px;
}

#home_Services .servicios-box h1{
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 108px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


#home_Services .puertos-box{
	width: 227px;
	float: left;
	background-image: url(../images/puertos-pic.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	height: 128px;
}

#home_Services .puertos-box h1{
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 108px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#home_Services .política-box{
	width: 227px;
	float: right;
	background-image: url(../images/política-pic.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	height: 128px;
}

#home_Services .política-box h1{
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 108px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#home_Services a{
	color: #FFFFFF;
	text-decoration:none;
}
#home_Services a:hover{
	color: #FF0000;
	text-decoration:none;
}

#subpage-container {
	clear:both;
	width:935px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 30px;
	padding-top: 22px;

}

#left-frame{
	width: 155px;
	float: left;
	margin-top: 0px;
	margin-right: 28px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#left-frame h1{
	font-size: 16px;
	font-weight: normal;
	color: #CC3333;
	text-transform: uppercase;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-top: 0px;
}
#left-frame p{
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	line-height: 13px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding: 0px;
}
#left-frame .red{
	color: #CC3333;
}




#mid-frame{
	width: 510px;
	float: left;
	margin: 0px;
	padding-right: 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E5E5E5;
}

#mid-frame h1{
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	text-transform: uppercase;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#mid-frame p{
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	line-height: 16px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
}

#mid-frame .red{
	color: #CC3333;
}
#mid-frame .info{
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
}

#mid-frame .member-info{
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	padding-top: 8px;
	padding-bottom: 8px;
}
#mid-frame .member-info a{
	color: #CC3333;
	text-decoration:none;
}
#mid-frame .member-info a:hover{
	color: #666666;
	text-decoration:none;
}

#mid-frame h2{
	font-size: 13px;
	font-weight: normal;
	color: #CC3333;
	text-transform: uppercase;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-bottom: 0px;
}
#mid-frame h3{
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	text-transform: uppercase;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#mid-frame .readmore{
	font-size: 13px;
	font-weight: bold;
	color: #00477F;
	line-height: 16px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
#mid-frame .readmore a{
	color: #00477F;
	text-decoration:underline;
}
#mid-frame .readmore a:hover{
	color: #00477F;
	text-decoration:none;
}

#mid-frame .mail-info{
	font-size: 13px;
	font-weight: normal;
	color: #CC3333;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
}
#mid-frame .mail-field{
	background-color: #F8F8F8;
	border: 1px solid #E8E8E8;
	width: 380px;
	height: 26px;
}
#mid-frame .Comentarios{
	background-color: #F8F8F8;
	border: 1px solid #E8E8E8;
	width: 380px;
	height: 160px;
}



#right-frame{
	width: 186px;
	float: right;
	text-align: center;
}
#right-frame h1{
	font-size: 15px;
	font-weight: normal;
	color: #CC3333;
	text-transform: uppercase;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#right-frame p{
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	line-height: 16px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
}
#right-frame p a{
	color: #CC3333;
	text-decoration:underline;
}
#right-frame p a:hover{
	color: #CC3333;
	text-decoration:none;
}







#footbg{
	width:100%;
	display:table;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url(../images/footer-bg.gif);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #FEFEFE;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #999999;
	padding-top: 18px;
	padding-bottom: 20px;
}
#footbg a{
	color: #999999;
	text-decoration:none;
}
#footbg a:hover{
	color: #333333;
	text-decoration:none;
}
