@charset "utf-8";
/* CSS Document */


/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	outline: none;
}
/*****************************************************************************************************************************/


/** Body **/
body{
	background-color:#d2d3d4;
	margin:0;
	color: #173b6b;
	font-family: 'Open Sans', sans-serif;	
	font-size: 22px;	
}
/** Header **/
.header{
	height:80px;
	background-color:#173b6b;

}

.header .logo{
  width: 290px;
  padding: 5px 5px 5px 18px;
  margin: 0 auto;
}



/** Contenido **/
.content{
  width: 320px;
  margin: 50px auto 0 auto;
  min-height: 300px;  
}

.row {
  margin-bottom: 15px;
 
}

.tr{
  text-align: right;
  width: 95px;
  padding: 5px 10px;
}

.span4 {
  width: 300px;
}

span{
  float:left;
  min-height:1px;
 
  
}

.clear{
	clear:both;
}

.linea_blanca{
  border-bottom: solid 2px #FFFFFF;
  width: 200px;
  margin-left: 117px;
  margin-bottom: 15px;
}

.linea{
	/*margin-bottom:5px;*/
}

.top{
	margin-top: 10px;
}

.campo_texto{
  height: 25px;
  padding: 4px 8px;
  width: 185px;
  font-size: 15px;
  color: #173b6b;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
}
.buscar{
  -webkit-appearance: none;
  width: 130px;
  height: 40px;
  font-weight: bold;
  background: #5abaab;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  margin-top:30px;
}


.prefix{
  background: none;
  border: none;
  font-weight: bold;
  color: #173b6b;
  font-size: 21px;
  padding-top: 5px;	
}
/** Estilo Select **/


select {
  margin: 0;
  border: 1px solid #111;
  background: transparent;
  width: 204px;
  padding: 5px 35px 5px 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/select.png) 96% no-repeat #FFF;
  color: #173b6b;
  font-family: 'Open Sans', sans-serif;	
  
}

.cont_botones_1 {
	width: 320px;
	margin: 10px auto;	
}

.cont_botones_2 {
	width: 270px;
	margin: 20px auto;
	float: right;
	display:none;
}

.cont_botones_2 .btn_contacto {
	color: #fff;
}

.btn_contacto {
text-decoration: none;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 4px 2px 2px 2px;
  text-align: center;
  display: block;
  font-size: 15px;
  color: #173b6b;
  font-family: 'Open Sans', sans-serif;
  width: 88px;
  height: 23px;
  float: right;
  line-height: 20px;
}

.btn_ios {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 2px 1px 1px 3px;
  text-align: center;
  display: block;
  font-size: 15px;
  color: #173b6b;
  font-family: 'Open Sans', sans-serif;
  width: 91px;
  height: 25px;
  float: right;
  margin-left: 10px;
}

.btn_ios img {
	border:none;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px;
  }
}

@media only screen and (min-width: 700px) {
	.header .logo {
	  width: 660px;
	}
	.img_logo {
		float: left;
	}
	.cont_botones_1 {
		display:none;
	}
	
	.cont_botones_2 {
		display:block;
	}
	
	.content{
	width:500px;	
	}
	select{
	width:270px;	
	}
	
	.linea_blanca{
  		width: 267px;
	}
	
	.campo_texto{
		width:251px;	
	}
	
	
}
